* {
  box-sizing: border-box;
}

ul {
  margin-top: em(45px);
  margin-bottom: em(50px);
  padding : 0;
  @include mq(med) {
    display: flex;
    width: 70%;
    margin-left: em(100px);
  }
}

p {
  margin: 0 auto;
  width: 95%;
  @include mq(med) {
    font-size: em(17px);
  }
}
